<h1>Add a Blog Post</h1>

<%= form_with url: "/blog_posts", local: true do %>
  <label for="title">Title</label>
  <input type="text" name="title">
  <br>
  <label for="content">Content</label>
  <textarea name="content"></textarea>
  <br>
  <input type="submit" name="" value="submit">
<% end %>
